* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    margin-bottom: 50px;
}

.schedule {
    display: flex;
}

.grade {
    width: 120px;
    margin: 40px 60px 40px 40px;
}

.arrow {
    font-size: 15px;
    margin: 10px;
}

.data {
    margin: 10px;
    font-size: 25px;
}

.grade_data {
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    width: 120px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grade_data.grade1,
.grade_data.grade2,
.grade_data.grade3,
.grade_data.grade4,
.grade_data.grade5,
.grade_data.grade6 {
    background-color: rgb(131, 241, 249);
    color: aliceblue;
    border: 1px solid black;
}

.grade_data.grade7,
.grade_data.grade8,
.grade_data.grade9 {
    background-color: rgb(122, 156, 248);
    color: aliceblue;
    border: 1px solid black;
}

.grade_data.grade10,
.grade_data.grade11,
.grade_data.grade12 {
    background-color: rgb(83, 248, 75);
    color: aliceblue;
    border: 1px solid black;
}

.btn1 {
    background-color: rgb(131, 241, 249);
    color: aliceblue;
    border-radius: 20px;
    padding: 4px;
    width: 120px;
    margin-bottom: 15px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 13px;
}

.btn2 {
    background-color: rgb(122, 156, 248);
    color: aliceblue;
    border-radius: 20px;
    padding: 4px;
    width: 120px;
    margin-bottom: 15px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 13px;
}

.btn3 {
    background-color: rgb(83, 248, 75);
    color: aliceblue;
    border-radius: 20px;
    padding: 4px;
    width: 120px;
    margin-bottom: 15px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 13px;
}

/* サムネイル */
.thumbnail {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.video {
    width: 250px;
    height: 350px;
    margin: 20px;
    text-align: center;
    border: 1px solid black;
}

img {
    width: 220px;
    margin-top: 15px;
    text-align: center;
}

.curriculum_title {
    display: flex;
    text-decoration: none;
}

a {
    justify-content: center;
    margin: 12px 0;
}

li {
    font-size: 15px;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
