* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 共通バナー */

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 123, 0);
    align-items: center;
    padding: 0 15px;
}

.banner {
    height: 100px;
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
}

.banner li button {
    border: none;
    width: 145px;
    padding: 8px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 13px;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgba(0, 187, 255, 0.864);
    color: aliceblue;
}

.logout {
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 7px;
}
